<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>BattleZone</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="welcome-container">
    <ion-button expand="block" color="primary" (click)="inicio()">Comenzar</ion-button>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title size="small" class="ion-text-center">
      <p>Ingresa como administrador con 
        <a href="/admin-login">este enlace</a>
      </p>
    </ion-title>
  </ion-toolbar>
</ion-footer>