ion-content, ion-footer {
  --background: #01131f; /* Fondo oscuro */
  color: white; /* Texto blanco */
}

ion-title {
  text-align: center; 
  font-size: 24px;
  color: white; /* Texto blanco */
}

ion-footer p {
  font-size: 0.8rem;
  margin: 0;
  color: white; /* Texto blanco */
}

ion-footer a {
  text-decoration: underline;
  color: var(--ion-color-primary); /* Ajusta el color según sea necesario */
}
