ion-title {
  text-align: center; 
  font-size: 24px;
  color: #fff; 
}
.welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
  }
  
  ion-footer p {
    font-size: 0.8rem;
    margin: 0;
  }
  
  ion-footer a {
    text-decoration: underline;
    color: var(--ion-color-primary);
  }
  ion-content, ion-footer {
    --background: #01131f; 
  }
  .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

  }