.news-section {
    background-color: #32345A; 
    padding: 15px;
    border-radius: 15px;
    margin-top: 20px;
  }
  
  .news-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #5A556E; 
    border-radius: 10px;
  }
  
  .news-item img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 15px;
    box-shadow: 0px 0px 10px #32345A; 
  }
  
  .news-content h6 {
    margin: 0;
    color: #C9B1BD; 
  }
  
  .news-content p {
    margin: 5px 0 0;
    color: #868192; 
    font-size: 14px;
  }
.news-section {
    background-color: #32345A; 
    border-radius: 15px; 
    padding: 15px; 
    margin: 20px 10px; 
    box-shadow: 0px 4px 8px rgba(50, 52, 90, 0.6); 
  }