<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-avatar slot="end" (click)="Ircuenta()">
      <img src="assets/icon/user-circle-svgrepo-com.png" alt="Avatar">
    </ion-avatar>
  </ion-toolbar>
</ion-header>
<section class="news-section">
  <ion-list-header>
    <ion-label><h5>Noticias Gamers</h5></ion-label>
    
  </ion-list-header>
<br>
  <div class="news-item">
    <img src="assets/img/noticias/Black_Myth_Wukong.jpg" alt="Black Myth Wukong" />
    <div class="news-content">
      <h6>Black Myth Wukong: Nuevo avance muestra gameplay impresionante</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel elit ac lorem pulvinar sagittis.</p>
    </div>
  </div>
  <div class="news-item">
    <img src="assets/img/noticias/Black_Myth_Wukong.jpg" alt="Black Myth Wukong" />
    <div class="news-content">
      <h6>Black Myth Wukong: Nuevo avance muestra gameplay impresionante</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel elit ac lorem pulvinar sagittis.</p>
    </div>
  </div>
  <div class="news-item">
    <img src="assets/img/noticias/Black_Myth_Wukong.jpg" alt="Black Myth Wukong" />
    <div class="news-content">
      <h6>Black Myth Wukong: Nuevo avance muestra gameplay impresionante</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel elit ac lorem pulvinar sagittis.</p>
    </div>
  </div>
  <div class="news-item">
    <img src="assets/img/noticias/Black_Myth_Wukong.jpg" alt="Black Myth Wukong" />
    <div class="news-content">
      <h6>Black Myth Wukong: Nuevo avance muestra gameplay impresionante</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel elit ac lorem pulvinar sagittis.</p>
    </div>
  </div>
  <div class="news-item">
    <img src="assets/img/noticias/Black_Myth_Wukong.jpg" alt="Black Myth Wukong" />
    <div class="news-content">
      <h6>Black Myth Wukong: Nuevo avance muestra gameplay impresionante</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel elit ac lorem pulvinar sagittis.</p>
    </div>
  </div>
</section>