<ion-header>
  <ion-toolbar>
    <ion-title>{{torneo?.nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container *ngIf="torneo; else noTorneo">
    <ion-card class="torneo-card">
      <ion-card-header>
        <ion-card-title>{{torneo.nombre}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-img [src]="torneo.imagen" alt="{{torneo.nombre}}" *ngIf="torneo.imagen; else noImage"></ion-img>
        <ng-template #noImage>
          <p>No hay imagen disponible.</p>
        </ng-template>
        <p><strong>Juego:</strong> {{torneo.juego}}</p>
        <p><strong>Estado:</strong> {{torneo.estado}}</p>
        <p><strong>Equipos Inscritos:</strong> {{torneo.numEquipos}}</p>
        <p><strong>Fecha de Inicio:</strong> {{torneo.fechaInicio | date}}</p>
        <ion-button expand="full" color="primary" (click)="modificarTorneo()">Modificar</ion-button>
        <ion-button expand="full" color="danger" (click)="eliminarTorneo()">Eliminar</ion-button>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <ng-template #noTorneo>
    <ion-item>
      <ion-label>
        <p>No se encontraron detalles del torneo.</p>
      </ion-label>
    </ion-item>
  </ng-template>
</ion-content>
