.form-container {
    padding: 20px; /* Espaciado interno */
    background-color: #32345A; /* Color de fondo del formulario */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para profundidad */
  }
  
  .submit-button {
    margin-top: 20px; /* Margen superior para el botón */
    --background: #5A556E; /* Color de fondo del botón */
    color: #C9B1BD; /* Color del texto del botón */
  }
  