<ion-content class="general" [fullscreen]="true" >
 
  <!------Imagen atras------------------------------------------------------------------------------------------------>


  <div class="imagen-container">
    <img src="assets/img/Street-Fighter-6.jpg" alt="Street Fighter" />
  </div>

  <!------------------------------------------------------------------------------------------------------>
  <!------------bloque grande----------------------------------------------------------------------------->
  <!------------------------------------------------------------------------------------------------------>


  <div class="div-grande">

<!------------------botones------------------------------------------------------------------------------------>
   
    <ion-button fill="clear" class="icono-atras" (click)="home()">
        <ion-icon name="arrow-back-circle-outline"></ion-icon>
    </ion-button>
<!------------------------------------------------------------------------------------------------------>

      <div class="div-foto-perfil" >


          <ion-button fill="clear" class="icono-config">
              <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
          </ion-button>

  <!-----nombre--------------------------------->



          <div class="info-perfil">
            <h4>Copa Soprole</h4>
          </div>


  <!---Explicacion y contenido--------------->
<ion-card class="descripcion-j">
  <div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
       Harum omnis, recusandae corrupti veritatis dicta temporibus
        excepturi accusantium exercitationem assumenda ex at itaque animi
         unde tenetur doloribus maxime ratione? Atque, qui?</p>


  </div>
</ion-card>






<!------------------------------------------------------------------------------------------------------>
            <hr />
<!------------------------------------------------------------------------------------------------------>

<!---------------------stats--------------------------------------------------------------------------------->



      </div>
 <!----------------------------segmentos cambiantes-------------------------------------------------------------------------->





<!------------------------lo que cambia-------------------titulos----------------------------------------------------------->


<div *ngIf="seleccion == 'Torneos jugados'">

            <ion-card-title class="titulo-torneos">Torneos jugados</ion-card-title >
</div>


<div *ngIf="seleccion == 'Historial'">

            <ion-card-title class="titulo-torneos">Historial</ion-card-title >
</div>


<div *ngIf="seleccion == 'Logros'">

            <ion-card-title class="titulo-torneos">Logros</ion-card-title >
</div>

<!------------------------------------------------------------------------------------------------------>



<!------------------------------------------------------------------------------------------------------>
<!-----------------------------parte torneos------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------------>

<ion-card id="torneos">
  <ion-card-content class="torneos" *ngIf="seleccion == 'Torneos jugados'">

          <div>

<!------items------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------>
              <div class="game-item">
                <div class="distribucion">

                  <img class="imagen-torneos-jugados" src="assets/img/valorant.jpg" alt="Valorant" />

                  <div class="texto">
                    <h6>Copa Soprole</h6>
                    <p>Eliminacion directa</p>
                    <p>Puesto:5°</p>
                    <P>Fecha: 14/04/202</P>

                  </div>

                    
                  </div>
              </div>
<!------------------------------------------------------------------------------------------------------>
<hr>
<!------------------------------------------------------------------------------------------------------>

              <div class="game-item">
                <div class="distribucion">

                  <img class="imagen-torneos-jugados" src="assets/img/lol2.jpg" alt="Valorant" />

                  <div class="texto">
                    <h6>Copa Soprole</h6>
                    <p>Eliminacion directa</p>
                    <p>Puesto:5°</p>
                    <P>Fecha: 14/04/202</P>

                  </div>

                  </div>


              </div>
<!------------------------------------------------------------------------------------------------------>
<hr>
<!------------------------------------------------------------------------------------------------------>
              <div class="game-item">
                <div class="distribucion">
                  
                  <img class="imagen-torneos-jugados" src="assets/img/fornite.jpg" alt="Valorant" />

                  <div class="texto">
                    <h6>Copa Soprole</h6>
                    <p>Eliminacion directa</p>
                    <p>Puesto:5°</p>
                    <P>Fecha: 14/04/202</P>

                  </div>
                    </div>


              </div>
<!------------------------------------------------------------------------------------------------------>
<hr>
<!------------------------------------------------------------------------------------------------------>

              <div class="game-item">
                <div class="distribucion">

                  <img class="imagen-torneos-jugados" src="assets/img/lol2.jpg" alt="Valorant" />

                  <div class="texto">
                    <h6>Copa Soprole</h6>
                    <p>Eliminacion directa</p>
                    <p>Puesto:5°</p>
                    <P>Fecha: 14/04/202</P>

                  </div>
                  </div>


              </div>


          </div>
  </ion-card-content>


<!------------------------------------------------------------------------------------------------------>
<!-----------------------------parte historial------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------------>


<ion-card id="torneos">
  <ion-card-content class="historial" *ngIf="seleccion == 'Historial'">

          <div>

<!------items------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------>
              <div class="game-item-historial">
                <div class="distribucion-historial">

                  <img class="imagen-historial" src="assets/img/valorant.jpg" alt="Valorant" />

                  <div class="texto-h">
                    <h6>Valorant</h6>
                    <p >Victoria</p>
                    <p>Mapa:icebox</p>



                  </div>

                    
                  </div>
              </div>
<!------------------------------------------------------------------------------------------------------>
<hr>
<!------------------------------------------------------------------------------------------------------>

              <div class="game-item">
                <div class="distribucion">

                  <img class="imagen-torneos-jugados" src="assets/img/lol2.jpg" alt="Valorant" />

                  <div class="texto">
                    <h6>Valorant</h6>
                    <p>Mapa:icebox</p>
                    <p>Victoria</p>
                    <P>Fecha: 14/04/202</P>

                  </div>

                  </div>


              </div>
<!------------------------------------------------------------------------------------------------------>
<hr>
<!------------------------------------------------------------------------------------------------------>
              <div class="game-item">
                <div class="distribucion">
                  
                  <img class="imagen-torneos-jugados" src="assets/img/fornite.jpg" alt="Valorant" />

                  <div class="texto">
                    <h6>Valorant</h6>
                    <p>Mapa:icebox</p>
                    <p>Victoria</p>
                    <P>Fecha: 14/04/202</P>

                  </div>
                    </div>


              </div>
<!------------------------------------------------------------------------------------------------------>
<hr>
<!------------------------------------------------------------------------------------------------------>

              <div class="game-item">
                <div class="distribucion">

                  <img class="imagen-torneos-jugados" src="assets/img/lol2.jpg" alt="Valorant" />

                  <div class="texto">
                    <h6>Valorant</h6>
                    <p>Mapa:icebox</p>
                    <p>Victoria</p>
                    <P>Fecha: 14/04/202</P>

                  </div>
                  </div>


              </div>


          </div>
  </ion-card-content>
</ion-card>








</ion-card>



<!------------------------------------------------------------------------------------------------------>
<!-----------------------------parte historial------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------------>



<!------------------------------------------------------------------------------------------------------>
<hr/>
<!------------------------------------------------------------------------------------------------------>






<ion-card-title class="titulo-torneos">Descripcion Jugador:</ion-card-title >

<ion-card class="texto2">

<div>
<p >Jugador con experiencia en videojuegos desde los 5 años de edad
  , participante de varios de los torneos mas importantes de battle zone,
  soy un activo tengo un estilo de juego agresivo y odio pararme a pensar las cosas mi
  forma de jugar siempre ha sido apisonar a los demas llendo hacia adelante
</p>
</div>

</ion-card>



  </div>
</ion-content>
