<ion-content class="general" [fullscreen]="true" >
 
  <!------Imagen atras------------------------------------------------------------------------------------------------>


  <div class="imagen-container">
    <img src="assets/img/Street-Fighter-6.jpg" alt="Street Fighter" />
  </div>

  <!------------------------------------------------------------------------------------------------------>
  <!------------bloque grande----------------------------------------------------------------------------->
  <!------------------------------------------------------------------------------------------------------>


  <div class="div-grande">

<!------------------botones------------------------------------------------------------------------------------>
   
    <ion-button fill="clear" class="icono-atras" (click)="valorant()">
        <ion-icon name="arrow-back-circle-outline"></ion-icon>
    </ion-button>
<!------------------------------------------------------------------------------------------------------>

      <div class="div-foto-perfil" >


          <ion-button fill="clear" class="icono-config">
              <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
          </ion-button>

  <!-----nombre--------------------------------->



          <div class="info-perfil">
            <h4>Copa Soprole</h4>
          </div>
          
          <hr>

  <!---Explicacion y contenido--------------->
<ion-card class="descripcion-j">
  <div>
    <ul class="premios">
      <li>Premio: 50 bz / 50 usd</li>
      <li>Inscripción: 50 bz / 50 usd</li>
      <li>Cupos disponibles: 45/100</li>
  </ul>


  </div>
</ion-card>






<!------------------------------------------------------------------------------------------------------>
            <hr />
<!------------------------------------------------------------------------------------------------------>

<!---------------------stats--------------------------------------------------------------------------------->



      </div>
 <!----------------------------segmentos cambiantes-------------------------------------------------------------------------->





<!------------------------lo que cambia-------------------titulos----------------------------------------------------------->


<div>

            <ion-card-title class="titulo-torneos">Jugadores</ion-card-title >
</div>


<!------------------------------------------------------------------------------------------------------>



<!------------------------------------------------------------------------------------------------------>
<!-----------------------------parte torneos------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------------>

<ion-card id="torneos">
  <ion-card-content class="torneos" *ngIf="seleccion == 'Torneos jugados'">

          <div>

<!------items------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------>
              <div class="game-item">
                <div class="distribucion">

                  <ion-icon class="icono-participante" name="person-circle"></ion-icon>
                   <div class="texto">
                    <h6>Srchitita</h6>
                    <p>Torneos jugados:42</p>
                    </div>

                    
                  </div>
              </div>
<!------------------------------------------------------------------------------------------------------>
<hr>
<!------------------------------------------------------------------------------------------------------>

              <div class="game-item">
                <div class="distribucion">

                  <div class="distribucion">

                    <ion-icon class="icono-participante" name="person-circle"></ion-icon>
                     <div class="texto">
                      <h6>Srchitita</h6>
                      <p>Torneos jugados:42</p>
                      </div>
  
                      
                    </div>

                    
                  </div>
              </div>




<!------------------------------------------------------------------------------------------------------>
<hr>
<!------------------------------------------------------------------------------------------------------>


              <div class="game-item">
                <div class="distribucion">

                  <ion-icon class="icono-participante" name="person-circle"></ion-icon>
                   <div class="texto">
                    <h6>Srchitita</h6>
                    <p>Torneos jugados:42</p>
                    </div>

                    
                  </div>
              </div>















<!------------------------------------------------------------------------------------------------------>
<hr>
<!------------------------------------------------------------------------------------------------------>

              <div class="game-item">
                <div class="distribucion">

                  <ion-icon class="icono-participante" name="person-circle"></ion-icon>
                   <div class="texto">
                    <h6>Srchitita</h6>
                    <p>Torneos jugados:42</p>
                    </div>

                    
                  </div>
              </div>


          </div>
  </ion-card-content>












</ion-card>


<ion-button shape="round" (click)="jugando()">Inscribir</ion-button>


<!------------------------------------------------------------------------------------------------------>
<hr/>
<!------------------------------------------------------------------------------------------------------>






<ion-card-title class="titulo-torneos">Bases:</ion-card-title >

<ion-card>

<div class="bases">


  <p><strong>Descripción del Torneo:</strong></p>

  <p>¡Prepárate para demostrar tus habilidades en el ring virtual con el torneo de <strong>Street Fighter VI</strong>! Este evento reúne a los mejores luchadores de la comunidad para enfrentarse en intensos combates, donde solo los más fuertes sobrevivirán. Ya seas un veterano de la franquicia o un novato con ganas de probar su valía, este torneo es la oportunidad perfecta para demostrar quién es el verdadero campeón.</p>
  
  <p><strong>Detalles del Torneo:</strong></p>
  
  <ul>
    <li><strong>Nombre del Torneo:</strong> Batalla de los Guerreros: Street Fighter VI</li>
    <li><strong>Fecha:</strong> [Inserta la fecha del torneo]</li>
    <li><strong>Hora de Inicio:</strong> [Inserta la hora de inicio]</li>
    <li><strong>Formato:</strong> Eliminación directa</li>
    <li><strong>Plataforma:</strong> [Indica la plataforma, por ejemplo, PS5, PC]</li>
    <li><strong>Número de Participantes:</strong> [Indica el número máximo de participantes]</li>
    <li><strong>Inscripción:</strong> [Indica si hay algún costo o el proceso de inscripción]</li>
  </ul>
  
  <p><strong>Premios:</strong></p>
  
  <ul>
    <li><strong>1er Lugar:</strong> [Indica el premio para el primer lugar]</li>
    <li><strong>2do Lugar:</strong> [Indica el premio para el segundo lugar]</li>
    <li><strong>3er Lugar:</strong> [Indica el premio para el tercer lugar]</li>
  </ul>
  
  <p><strong>Reglas Básicas:</strong></p>
  
  <ul>
    <li>Todos los combates se jugarán en el modo "Versus" de Street Fighter VI.</li>
    <li>Cada ronda se jugará al mejor de tres combates.</li>
    <li>Los participantes deberán estar conectados y listos para jugar a la hora establecida. Los retrasos superiores a 10 minutos pueden resultar en descalificación.</li>
    <li>Está prohibido cualquier tipo de conducta antideportiva. Esto incluye, pero no se limita a, insultos, trampas o comportamientos tóxicos.</li>
  </ul>
  
  <p>¡No pierdas la oportunidad de ser coronado como el campeón de Street Fighter VI! Inscríbete ahora y prepárate para la batalla.</p>
  





</div>

</ion-card>



  </div>
</ion-content>
