<ion-header>
  <ion-toolbar>
    <ion-title>Perfil del Administrador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Lista de torneos creados -->
  <ion-card *ngFor="let torneo of torneos" (click)="verDetallesTorneo(torneo)">
    <ion-card-header>
      <ion-card-title>{{torneo.nombre}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>
          <p><strong>Juego:</strong> {{torneo.juego}}</p>
          <p><strong>Estado:</strong> {{torneo.estado}}</p>
          <p><strong>Equipos Inscritos:</strong> {{torneo.numEquipos}}</p>
          <p><strong>Fecha de Inicio:</strong> {{torneo.fechaInicio | date}}</p>
        </ion-label>
        <ion-thumbnail slot="end">
          <img [src]="torneo.imagen" alt="{{torneo.nombre}}">
        </ion-thumbnail>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
