ion-header {
    text-align: center;
    
  
    ion-toolbar {
      background-color: #310075; 
    }
  
    ion-title {
      color: #f6f8f8; 
      font-size: 24px;
      font-weight: bold;
    }
  }
  
  ion-content {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;   
    height: 100%;
    padding: 16px;
    
    background-color: #1d90e5; 
  }
  
  ion-item {
    width: 100%;
    max-width: 400px;
    margin-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    --background: #747070;
    --border-radius: 12px;
  }
  
  ion-input {
    width: 100%;
    padding: 12px;
    --padding-start: 12px;
    --padding-end: 12px;
  }
  
  ion-button {
    width: 100%;
    max-width: 400px;
    margin-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    --border-radius: 12px;
    --background: #34257C; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  p {
    color: #f6f8f8; 
    text-align: center;
    margin-top: 16px;
  
    a {
      color: #b97dff;
      text-decoration: none;
    }
  }
  
  .separator {
    width: 100%;
    max-width: 400px;
    height: 1px;
    background-color: #f6f8f8; 
    margin: 24px 0; 
  }

  
  p.register {
    margin-top: 8px;
  }