<ion-header [translucent]="true">
  <ion-toolbar color="ultraviolet">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="blancohielo">Inicio de Sesión</ion-title>
  </ion-toolbar>
</ion-header>
<br><br>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input label="Nombre de Usuario" labelPlacement="floating" placeholder="Ingresa tu nombre de usuario" [(ngModel)]="nameUser"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="password" label="Contraseña" value="NeverGonnaGiveYouUp" labelPlacement="floating" placeholder="Ingresa tu contraseña" [(ngModel)]="password"><ion-input-password-toggle slot="end"></ion-input-password-toggle></ion-input>
  </ion-item>
  <ion-button color="purpuranegro" (click)="irPagina()">Iniciar sesión</ion-button>
  <p color="blancohielo">
    <a href="/forgot-password">¿Problemas con tu cuenta?</a>
  </p>

  <div class="separator"></div> <!-- Línea de separación -->

  <p color="blancohielo" class="register">
    ¿No tienes una cuenta?
    <a href="/register"> Regístrate</a>
  </p>
  
</ion-content>
