



<ion-content class="general" [fullscreen]="true" >
 
  <!------------------------imagen detras------------------------------------------------------------------------------>
  <div class="imagen-container">
      <img src="assets/img/Street-Fighter-6.jpg" alt="Street Fighter" />
  </div>
  <!------------------------------------------------------------------------------------------------------>
  <!--------------------------bloque grande---------------------------------------------------------------------------->
  <!------------------------------------------------------------------------------------------------------>
  <div class="div-general">
      <div class="div-cambiante">
    <!--------------------------botones---------------------------------------------------------------------------->  
        <div>
  
          <ion-button fill="clear" class="icono-config">
          <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
          </ion-button>
  
           <ion-button fill="clear" class="icono-atras" (click)="home()">
              <ion-icon name="arrow-back-circle-outline"></ion-icon>
           </ion-button>
    
  
      
            <div class="info-perfil">
                <h1>Street Figther</h1>
            </div>
  
  
  
            <div class="juegos-per">
              <ion-chip [disabled]="true" color="primary">Pelea</ion-chip>
              <ion-chip [disabled]="true" color="secondary">Habilidad</ion-chip>
              <ion-chip [disabled]="true" color="tertiary">Individual</ion-chip>
            </div>
  
            </div>
  
  
            <hr/>
            <ion-card-title class="titulo-torneos">Descripcion:</ion-card-title>
  
  
              <p class="descripcion">Valorant es un videojuego de 
                disparos en primera persona (FPS) desarrollado 
                y publicado por Riot Games. El juego combina elementos de los shooters tácticos 
                 con habilidades y poderes especiales.
               </p>
              
            <hr/>

  
  
  
                <div id="torneos">
                  <ion-card-content class="torneos">
        
                  <div class="scroll">
        
        <!------items------------------------------------------------------------------------------------------------>
        <!------------------------------------------------------------------------------------------------------>
                      <div class="game-item" (click)="torneo()">
                        <div class="distribucion">
        
                          <img class="imagen-torneos-jugados" src="assets/img/valorant.jpg" alt="Valorant" />
        
                          <div class="texto">
                            <h6>Copa Soprole</h6>
                            <p>Eliminacion directa</p>
                            <p>Entrada:gratis</p>
                            <P>Fecha: 14/04/202</P>
        
                          </div>
        
                            
                          </div>
                      </div>
        <!------------------------------------------------------------------------------------------------------>
        <hr>
        <!------------------------------------------------------------------------------------------------------>
        
                      <div class="game-item" (click)="torneo()">
                        <div class="distribucion">
        
                          <img class="imagen-torneos-jugados" src="assets/img/valorant.jpg" alt="Valorant" />
        
                          <div class="texto">
                            <h6>Copa Marinela</h6>
                            <p>Eliminacion directa</p>
                            <p>Entrada:gratis</p>
                            <P>Fecha: 14/04/202</P>
        
                          </div>
                        </div>
  
                      </div>
        <!------------------------------------------------------------------------------------------------------>
        <hr>
        <!------------------------------------------------------------------------------------------------------>
                      <div class="game-item" (click)="torneo()">
                        <div class="distribucion">
                          
                          <img class="imagen-torneos-jugados" src="assets/img/valorant.jpg" alt="Valorant" />
        
                          <div class="texto">
                            <h6>Copa De la victoria</h6>
                            <p>Eliminacion directa</p>
                            <p>Entrada:gratis</p>
                            <P>Fecha: 14/04/202</P>
        
                          </div>
                            </div>
        
        
                      </div>
        <!------------------------------------------------------------------------------------------------------>
        <hr>
        <!------------------------------------------------------------------------------------------------------>
        
                      <div class="game-item" (click)="torneo()">
                        <div class="distribucion">
        
                          <img class="imagen-torneos-jugados" src="assets/img/valorant.jpg" alt="Valorant" />
        
                          <div class="texto">
                            <h6>Copa Soprole</h6>
                            <p>Eliminacion directa</p>
                            <p>Puesto:5°</p>
                            <P>Fecha: 14/04/202</P>
        
                          </div>
                          </div>
        
        
                      </div>
        
        
              </div>
            </ion-card-content>
        
          </div>
  
  
  
  
  
  
  <hr />
  
  
  
  
  
      </div>
  </div>
  </ion-content>
  