<ion-header [translucent]="true">
  <ion-toolbar color="ultraviolet">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="blancohielo">Registrate</ion-title>
  </ion-toolbar>
</ion-header>
<br><br>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input type="email" label="Correo electonico" labelPlacement="floating" placeholder="Ingresa tu Correo electronico" [(ngModel)]="correoEle"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Nombre de Usuario" labelPlacement="floating" placeholder="Ingresa un nombre de usuario" [(ngModel)]="newNameUser"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="password" label="Contraseña" labelPlacement="floating" placeholder="Ingresa una contraseña" [(ngModel)]="newPassword"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="password" label=" Confirma la Contraseña" labelPlacement="floating" placeholder="Confirma la contraseña" [(ngModel)]="confiPassword"></ion-input>
  </ion-item>
  <ion-button color="purpuranegro" (click)="validarRegistro()">Registrarse</ion-button>
  <div class="separator"></div> <!-- Línea de separación -->
  <p color="blancohielo">¿Ya tienes una cuenta? 
    <a href="/login">Inicia sesión</a>
  </p>

 

</ion-content>
