<ion-header [translucent]="true">

  <ion-toolbar>

    <ion-title>Tu cuenta</ion-title>


    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="ellipsis-horizontal-circle-outline"></ion-icon> </ion-button>
    </ion-buttons>

  </ion-toolbar>


       <div class="imagen-container">
          <img src="assets/img/Street-Fighter-6.jpg" alt="Street Fighter" />
      </div>
</ion-header>









-----------------------------------------------




<ion-content class="general" [fullscreen]="true" >






  <div class="div-cambiante">
  <div class="div-foto" >


    <ion-avatar class="avatar">
      <ion-icon id="icono-user" name="person-circle-outline" ></ion-icon></ion-avatar>
    <div class="info-perfil">
      <p>Nelson Zarate</p>
    </div>
    <div class="juegos-per">
      <ion-chip color="primary">Valorant</ion-chip>
      <ion-chip color="secondary">Call of Duty</ion-chip>
      <ion-chip color="tertiary">Apex</ion-chip>
    </div>


      <hr />


    <ion-row class="profile-stats">
      <ion-col>
        <h3>1K</h3>
        <p>Posts</p>
      </ion-col>
      <ion-col>
        <h3>420K</h3>
        <p>Followers</p>
      </ion-col>
      <ion-col>
        <h3>95</h3>
        <p>Following</p>
      </ion-col>
    </ion-row>
  </div>



    <ion-segment value="info">
      <ion-segment-button value="info">
        <ion-label style="white-space: pre-line">Torneos jugados</ion-label >

      </ion-segment-button>
      <ion-segment-button value="about">
        <ion-label>About</ion-label>
      </ion-segment-button>
      <ion-segment-button value="video">
        <ion-label>Video</ion-label>
      </ion-segment-button>
    </ion-segment>









  <ion-card-title class="titulo-torneos">Torneos Jugados</ion-card-title >
  <ion-card id="torneos">

    <ion-card-header>
    <h6 class="titulo-torneos">Juegos:</h6 >
    </ion-card-header>

    <ion-card-content class="historial">




      <div class="horizontal-scroll">
        <div class="game-item">
          <img src="assets/img/valorant.jpg" alt="Valorant" />
        </div>
  
        <div class="game-item">
          <img src="assets/img/fornite.jpg" alt="Fortnite" />
        </div>
        <div class="game-item">
          <img src="assets/img/lol2.jpg" alt="league of legends" />
        </div>
        <div class="game-item">
          <img src="assets/img/Street-Fighter-6.jpg" alt="Street Fighter" />
        </div>
      </div>
    </ion-card-content>

  </ion-card>






<hr />





<ion-card-title class="titulo-torneos">Descripcion:</ion-card-title >

<ion-card>


<p>Lorem ipsum dolor, 
  sit amet consectetur adipisicing 
  elit. Error placeat excepturi officiis
   rem non fuga laudantium id unde nobis expedita,
    ipsam magni dolore ea deleniti sunt odit minus 
    similique quam.Lorem ipsum dolor, 
    sit amet consectetur adipisicing 
    elit. Error placeat excepturi officiis
     rem non fuga laudantium id unde nobis expedita,
      ipsam magni dolore ea deleniti sunt odit minus 
      similique quam.</p>

</ion-card>




</div>

</ion-content>
