<ion-header [translucent]="true">

  <ion-toolbar>



    <ion-title>Tu cuenta
    </ion-title>
    <ion-title>
      
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="ellipsis-horizontal-circle-outline"></ion-icon>      </ion-button>
    </ion-buttons>



  </ion-toolbar>

</ion-header>









-----------------------------------------------




<ion-content [fullscreen]="true">

  <div class="profile-header">
    <ion-avatar class="avatar-large">
      <ion-icon id="icono-user" name="person-circle-outline" ></ion-icon></ion-avatar>
    <div class="profile-info">

      <p>New York, USA</p>
    </div>
    <div class="badges">
      <ion-chip color="primary">Valorant</ion-chip>
      <ion-chip color="secondary">Call of Duty</ion-chip>
      <ion-chip color="tertiary">Apex</ion-chip>
    </div>
    <ion-segment value="info">
      <ion-segment-button value="info">
        <ion-label>Info</ion-label>
      </ion-segment-button>
      <ion-segment-button value="about">
        <ion-label>About</ion-label>
      </ion-segment-button>
      <ion-segment-button value="video">
        <ion-label>Video</ion-label>
      </ion-segment-button>
    </ion-segment>
    <ion-row class="profile-stats">
      <ion-col>
        <h3>1K</h3>
        <p>Posts</p>
      </ion-col>
      <ion-col>
        <h3>420K</h3>
        <p>Followers</p>
      </ion-col>
      <ion-col>
        <h3>95</h3>
        <p>Following</p>
      </ion-col>
    </ion-row>
  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Recent Streams</ion-card-title>
    </ion-card-header>

    <ion-card-content>
<h1></h1>
    </ion-card-content>

  </ion-card>




</ion-content>
