<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/new-games"></ion-back-button>
    </ion-buttons>
    <ion-title>Black Myth Wukong</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="news-card">
    <div class="news-image">
      <img src="assets/img/noticias/Black_Myth_Wukong.jpg" alt="Black Myth Wukong">
    </div>
    <div class="news-body">
      <h2>Black Myth Wukong: Nuevo avance muestra gameplay impresionante</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel elit ac lorem pulvinar sagittis. Curabitur dapibus orci et dictum suscipit. Integer vehicula, leo in bibendum commodo, nulla neque faucibus lectus, eget facilisis nisl orci nec erat. Sed lacinia ligula at nisi aliquam, in cursus metus eleifend. Suspendisse nec fermentum tortor, non laoreet nunc.</p>
      <p>Sed ac dolor vel sem vestibulum accumsan in at est. Aliquam erat volutpat. Nulla facilisi. Praesent vehicula orci ut sapien venenatis, nec luctus magna dictum. Nam vitae sapien vel ex consequat scelerisque. Integer tristique massa eget enim accumsan, a lacinia libero tempor.</p>
      <p>Vivamus volutpat, lorem quis pretium blandit, magna urna facilisis ex, eget volutpat est justo vel augue. Suspendisse potenti. Curabitur bibendum ac mauris vel accumsan. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
    </div>
  </div>
</ion-content>
