<ion-header [translucent]="true">
  <ion-toolbar color="ultraviolet">
    <ion-title color="blancohielo">¿Problemas con tu cuenta?</ion-title>
  </ion-toolbar>
</ion-header>
<br><br>

<ion-content [fullscreen]="true">
  <h2><b>recuerar tu cuenta</b></h2>
  <p>Danos mas informacion sobre tu cuenta</p>
  <ion-item>
    
    <ion-input type="email" label="Correo electonico" labelPlacement="floating" placeholder="Ingresa tu Correo electronico" [(ngModel)]="eleCorreo"></ion-input>
  </ion-item>

  <ion-button color="purpuranegro" (click)="enviarConfirmacion()">Continuar</ion-button>
</ion-content>
