

ion-content {
  --background: #2e2f3a;
  color: #fff;
}
  
.imagen-container {

  position: fixed;
  width: 100%;
  height: 30%;
  overflow: hidden;
  


}


.imagen-container img {
padding-top: 1;
width: 100%;
height: 100%;
object-fit: cover;



}

.div-cambiante {
  background-color: #2f3153;
  top: 200px;
  position: relative;
  border-radius: 50px;
  padding: 20px;
  text-align: center;
  }


  .icono-config {
    position: absolute;
    top: 10px;
    right: 20px;
  }

  .icono-atras {
    position: absolute;
    top: 10px;
    left: 20px;
  }

  #icono-user {
      font-size: 100px;
      
  }


  #torneos {
      border-radius: 30px;


  }

  .titulo-torneos {

      padding-left: 10px;

  }


  .card-juegos {

      padding: 100px;

  }

  .horizontal-scroll {
      display: flex;
      overflow-x: auto;
      margin-bottom: 10;
  }

  .game-item {
      flex: 0 0 auto;
      margin-right: 15px;
      text-align: center;
      min-width: 120px;
      size:small;
  }
  
  .game-item img {
      width: 150px;
      height: 150px;
      border-radius: 10px;
  }
  .trending-games-section {
      margin-top: 20px;


      }

      .info-perfil p {
          margin: 0;
      }


      .avatar {
          width: 100px;
          height: 100px;
          margin: 0 auto;
      }

      .juegos-per {
          margin: 15px 0;
        }



  
  
-----------------------------------------------------------

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

-----------------------------------------------------------


.div-foto {
  text-align: center;
  padding: 20px;
}



.profile-info h2 {
  margin: 10px 0 5px;
}




ion-segment {
  margin: 20px 0;
}

.profile-stats {
  text-align: center;
}

ion-card {
  --background: #3e3f4c;
}

ion-card-title {
  color: #fff;
}

ion-slides {
  height: 200px;
}

ion-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
}






