<ion-content class="general" [fullscreen]="true" >
 

  <div class="imagen-container">
    <img src="assets/img/valo-h.jpg" alt="Street Fighter" />
  </div>

  
  <div>

  

  <div class="div-cambiante">
   <div class="div-foto" >
    
    <ion-button fill="clear" class="icono-config">

      
        <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
    


    </ion-button>

    <ion-button fill="clear" class="icono-atras">

      
      <ion-icon name="arrow-back-circle-outline"></ion-icon>

  </ion-button>

  

    
    <div class="info-perfil">
     <h1>Valorant</h1>
    </div>



    <div class="juegos-per">
      <ion-chip [disabled]="true" color="primary">Shooters</ion-chip>
      <ion-chip [disabled]="true" color="secondary">Tactica</ion-chip>
      <ion-chip [disabled]="true" color="tertiary">Equipos</ion-chip>


    </div>


      <hr />


    <ion-row class="profile-stats">
      <ion-col>
        <h3>9</h3>
        <p>Torneos en linea</p>
      </ion-col>
      <ion-col>
        <h3>420 BZ</h3>
        <p>Premio acumulado</p>
      </ion-col>
      <ion-col>
        <h3>10</h3>
        <p>Inscripcion</p>
      </ion-col>
    </ion-row>
  </div>



    <ion-segment value="info">
      <ion-segment-button value="info">
        <ion-label style="white-space: pre-line">Torneos jugados</ion-label >

      </ion-segment-button>
      <ion-segment-button value="about">
        <ion-label>About</ion-label>
      </ion-segment-button>
      <ion-segment-button value="video">
        <ion-label>Video</ion-label>
      </ion-segment-button>
    </ion-segment>









  <ion-card-title class="titulo-torneos">Torneos Jugados</ion-card-title >
  <ion-card id="torneos">

    <ion-card-header>
    <h6 class="titulo-torneos">Juegos:</h6 >
    </ion-card-header>

    <ion-card-content class="historial">




      <div class="horizontal-scroll">
        <div class="game-item">
          <img src="assets/img/valorant.jpg" alt="Valorant" />
        </div>
  
        <div class="game-item">
          <img src="assets/img/fornite.jpg" alt="Fortnite" />
        </div>
        <div class="game-item">
          <img src="assets/img/lol2.jpg" alt="league of legends" />
        </div>
        <div class="game-item">
          <img src="assets/img/Street-Fighter-6.jpg" alt="Street Fighter" />
        </div>
      </div>
    </ion-card-content>

  </ion-card>






<hr />





<ion-card-title class="titulo-torneos">Descripcion:</ion-card-title >

<ion-card>


<p>Lorem ipsum dolor, 
  sit amet consectetur adipisicing 
  elit. Error placeat excepturi officiis
   rem non fuga laudantium id unde nobis expedita,
    ipsam magni dolore ea deleniti sunt odit minus 
    similique quam.Lorem ipsum dolor, 
    sit amet consectetur adipisicing 
    elit. Error placeat excepturi officiis
     rem non fuga laudantium id unde nobis expedita,
      ipsam magni dolore ea deleniti sunt odit minus 
      similique quam.</p>

</ion-card>




  </div>
</div>
</ion-content>
