/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";


ion-title {
    text-align: center;
    
    color: #fff;
  
  }
  
  
  ion-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 16px;
    --background: #1A1C3C;
    
  
  }
  
  ion-item {
    width: 100%;
    max-width: 400px;
    margin-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    --background: #868192; /* Color gris violáceo */
    --border-radius: 12px;
  }
  
  ion-input {
    width: 100%;
    padding: 12px;
    --padding-start: 12px;
    --padding-end: 12px;
  }
  
  ion-button {
    width: 100%;
    max-width: 400px;
    margin-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    --border-radius: 12px;
    --background: #5A556E; /* Color gris oscuro con un matiz púrpura */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  p {
    color: #C9B1BD; /* Color rosa pálido */
    text-align: center;
    margin-top: 16px;
  
    a {
      color: #00fff2; /* Color rojo-marrón */
      text-decoration: none;
    }
  }
  
  .separator {
    width: 100%;
    max-width: 400px;
    height: 1px;
    background-color: #ffffff; /* Color rosa pálido */
    margin: 24px 0;
  }
  
  p.register {
    margin-top: 8px;
  }
  