



<ion-content class="general" [fullscreen]="true" >
 
  <!------------------------imagen detras------------------------------------------------------------------------------>
  <div class="imagen-container">
      <img src="assets/img/lol2.jpg" alt="Street Fighter" />
  </div>
  <!------------------------------------------------------------------------------------------------------>
  <!--------------------------bloque grande---------------------------------------------------------------------------->
  <!------------------------------------------------------------------------------------------------------>
  <div class="div-general">
      <div class="div-cambiante">
    <!--------------------------botones---------------------------------------------------------------------------->  
        <div>
  
          <ion-button fill="clear" class="icono-config">
          <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
          </ion-button>
  
           <ion-button fill="clear" class="icono-atras" (click)="home()">
              <ion-icon name="arrow-back-circle-outline"></ion-icon>
           </ion-button>
    
  
      
            <div class="info-perfil">
                <h1>League of Legends</h1>
            </div>
  
  
  
            <div class="juegos-per">
              <ion-chip [disabled]="true" color="primary">Moba</ion-chip>
              <ion-chip [disabled]="true" color="secondary">Tactica</ion-chip>
              <ion-chip [disabled]="true" color="tertiary">Equipos</ion-chip>
            </div>
  
            </div>
  
  
            <hr/>
            <ion-card-title class="titulo-torneos">Descripcion:</ion-card-title>
  
  
              <p class="descripcion">League of Legends (LoL) es un juego de estrategia y combate
                 en equipo. Dos equipos de cinco jugadores intentan destruir la base enemiga,
                 controlando campeones con habilidades únicas. La partida se desarrolla en un mapa
                  con tres carriles y una jungla, donde la coordinación y estrategia son clave para ganar.
               </p>
              
                <hr/>
  
  
  
  
                <div id="torneos">
                  <ion-card-content class="torneos">
                    <p>No hay torneos disponibles</p>
            </ion-card-content>
        
          </div>
  
  
  
  
  
  
  <hr />
  
  
  
  
  
      </div>
  </div>
  </ion-content>
  