<ion-header [translucent]="true">
  <ion-card>
  <div class="imagen-container">
    <img src="assets/img/valo-h.jpg" alt="Valorant" />
  </div>
  
</ion-card>
</ion-header>




<ion-content [fullscreen]="true">
  <div class="stats-container">
    <h1 class="game-title">Valorant</h1>
    <div class="game-stats">
      <ion-row>
        <ion-col>
          <h3>13M</h3>
          <p>Followers</p>
        </ion-col>
        <ion-col>
          <h3>50.6K</h3>
          <p>Matches</p>
        </ion-col>
        <ion-col>
          <h3>1.8K</h3>
          <p>Streamers</p>
        </ion-col>
      </ion-row>
    </div>
    <p class="game-description">
      Valorant es un juego de disparos en primera persona desarrollado y publicado por ... 
      <a href="#">Leer más</a>
    </p>
  </div>

  <ion-card class="lives-container">
    <ion-card-header>
      <h2>Lives</h2>
      <a href="#">Ver todo</a>
    </ion-card-header>
    <ion-card-content>
      <div class="horizontal-scroll">
        <div class="live-item">
          <img src="assets/img/valorant-live1.jpg" alt="Live Stream 1" />
        </div>
        <div class="live-item">
          <img src="assets/img/valorant-live2.jpg" alt="Live Stream 2" />
        </div>
      </div>
    </ion-card-content>
  </ion-card>




<hr>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
  Atque consectetur, porro rem officia accusantium eveniet
   iusto eum consequatur distinctio praesentium labore accusamus
    alias quod placeat. Veritatis soluta nisi neque. Amet?Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
    Atque consectetur, porro rem officia accusantium eveniet
     iusto eum consequatur distinctio praesentium labore accusamus
      alias quod placeat. Veritatis soluta nisi neque. Amet?</p>




</ion-content>